.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
}
.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.png);
  background-size: cover;
}
.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.png);
  background-size: cover;
}

.destinations .item header h4 {
  margin: 24px 0;
}
.destinations .item p {
  margin-bottom: 24px;
}
.destinations .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
  .destinations .item.tokyo .img-item {
    background: url(../img/tokyo-tablet.jpg);
    background-size: cover;
  }
  .destinations .item.osaka .img-item {
    background: url(../img/osaka-tablet.jpg);
    background-size: cover;
  }
  .destinations .button {
    width: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}
@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-items {
    flex-direction: row;
  }
}
